/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common css style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    
}
/* start top players css style  */
.top-players{
    margin-bottom: 22px;
}
.top-player-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 18px;
    

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
    color: #000000;
}
hr{
    border: 1px solid #D1D1D1;
}
/* End top players css style  */


/* start top blog styles */
.top-blog-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 33px;
}
.top-blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .blog-image img{
    height: 127px;
    width: 224px;
    
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
   color: #562EFF;
   text-decoration: none;
   
}
/* start latest course */
.latest-course-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 0px;
}
.latest-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course {
    background-color: #ffffff;
    border: 1px solid #dad9d9;
    border-radius: 5px;
    padding: 12px;
    margin: 11px;
}
.course-banner img{
width: 246px;
height: 141px;
}
.course-title{
    font-size: 20.3px;
}
.course-info{
    display: flex;
    align-items: center;
}
.course-rating span {
    margin-left: 8px;
    font-size: 14.5px;
    color: #A2A2A2;
    margin-right: 20px;
    font-weight: 400;
}
.fas.fa-star{
    font-size: 12px;
}
.fas.fa-star.flild{
    color: #FFC014;
}
.fas.fa-star.emty{
    color: #AEAEAE;
}
.course-duration{
    display: flex;
    align-items: center;
    color:#FF4A60;
    font-size: 14.69px;
}
.course-duration .far.fa-clock{
    margin-right: 6px;
}

/* star responsive  */
/* small mobile devices */
@media only screen and (max-width:480px){
    .container{
        width: 100%;
    }
    .players,.top-blog, .latest-courses{
        grid-template-columns: repeat(1, 1fr);
       
    }
    .player{
        align-items: center;
        flex-direction: column;
    }
}
/* tabletes & large smartphone devices */
@media only screen and (min-width:481px) and (max-width:768px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
       
    }
   
    .player{
        align-items: center;
        flex-direction: column;
    }
    .top-blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        justify-content: center;
    }
    .latest-courses{
        grid-template-columns: repeat(2, 1fr);
    }
}